
/* ----------------------------------------------
servie section
-------------------------------------------------*/

.pf__service_section{

  padding: 80px 0 80px;
  min-height: 100vh;
}

.pf__service_section .pf__service_item{
  flex:0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.pf__service_section .pf__service_item_inner{
  padding: 50px 15px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.pf__service_section .pf__service_item_inner:hover .pf__icon svg{
  color: var(--skin-color);
}

.pf__service_section .pf__service_item_inner .pf__icon{
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto 30px;
  position: relative;
  color:var(--text-black-600);

}

.pf__service_section .pf__service_item_inner .pf__icon:after{
  content: '';
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.pf__service_section .pf__service_item_inner:hover .pf__icon{
  box-shadow: var(--inner-shadow-0);

}

.pf__service_section .pf__service_item_inner:hover .pf__icon:after{
  box-shadow: var(--outer-shadow);
}
.pf__service_section .pf__service_item_inner .pf__icon svg{
  font-size: 25px ;
  line-height: 60px;
  margin-top:12.5px;
  transition: all 0.3s ease;
}


.pf__service_section .pf__service_item_inner  h3{
  font-size: 20px;
  font-weight: 600;
  color:var(--text-black-700);
  margin: 0 0 10px;
  text-transform: capitalize;
}

.pf__service_section .pf__service_item_inner  p{
  font-size: 16px;
  color: var(--text-black-600);
  margin: 0;
}


/*------------------------------------------------------------------
resposiveness
 -------------------------------------------------------------------- */
@media(max-width: 991px){
.pf__service_section .pf__service_item {
    flex: 0 0 50%;
    max-width: 50%;;
  }

}
@media(max-width:767px){
  .pf__service_section .pf__service_item{
    flex:0 0 100%;
    max-width: 100%;
  }
}
