/* ---------------------------------------------------------------
header section
------------------------------------------------------------------*/
.pf__header{

  padding: 20px 15px;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  z-index: 99;
}

.pf__header{

  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

}

:before,:after{
  box-sizing: border-box;
}

.pf__container{
  max-width: 1140px;
  margin: auto;
}


.pf__header .pf__logo{
  display: inline-block;
  text-align: center;
  line-height: 36px;
  height: 40px;
  width: 40px;
  font-size: 24px;
  color:var(--skin-color);
  border-radius: 50%;
  border: 2px solid var(--skin-color);
  font-weight: 600;
  text-transform: uppercase;
}


.pf__hamburger_btn{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.pf__hamburger_btn:after{
  border-radius: 50%;
}

.pf__hamburger_btn span{
  display: block;
  height: 2px;
  width: 16px;
  background-color: var(--bg-black-900);
  position: relative;
}

.pf__hamburger_btn span:before,
.pf__hamburger_btn span:after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-black-900);
}

.pf__hamburger_btn span:before{
  top:-6px;
}

.pf__hamburger_btn span:after{
  top:6px;
}
