
/* ---------------------------
 portfoloi popup
 =-------------------------------------- */

.pf__portfolio_popup{
  background-color: var(--bg-black-50);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

}

.pf__portfolio_popup .pf__pp_loader{
position: fixed;
left:0;
top:0;
height: 100%;
width: 100%;
z-index:1005;
background-color: var(--bg-opacity);
display: flex;
align-items: center;
justify-content: center;
visibility: hidden;
opacity: 0;


}

.pf__portfolio_popup .pf__pp_loader.pf__active2{
  visibility: visible;
  opacity: 1;
}
.pf__portfolio_popup .pf__pp_loader div{
  height: 40px;
  width: 40px;
  border: 3px solid var(--skin-color);
  border-radius: 50%;
  border-right: 3px solid transparent;
  animation: spin 2s linear infinite;
}

.pf__portfolio_popup.pf__open{
  visibility: visible;
  opacity: 1;
}
.pf__portfolio_popup .pf__pp_details{

  max-width: 1350px;
  width: calc(85% + 30px);
  margin: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}
.pf__portfolio_popup .pf__pp_details{
  opacity: 1;
}

.pf__portfolio_popup .pf__pp_details_inner{
  padding: 30px 0;
}

.pf__portfolio_popup .pf__separator{
  height: 1px;
  width: 100%;
  display: block;
  background-color: var(--bg-black-100);
}
.pf__portfolio_popup .pf__pp_title{
  padding: 0 15px;
}
.pf__portfolio_popup .pf__pp_title h2{
  font-size: 28px;
  color:var(--text-black-900);
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 0 5px;
}

.pf__portfolio_popup .pf__pp_title p{
font-size: 14px;
font-weight: 600;
color: var(--text-black-600);
margin: 0 0 15px;
border-bottom: 1px solid var(--bg-black-100);
padding-bottom: 10px;
}

.pf__portfolio_popup .pf__pp_title p span{
  font-weight: 400;
  text-transform: capitalize;
}
.pf__portfolio_popup .pf__description{
  flex:0 0 65%;
  max-width: 65%;
  padding: 0 15px;
}
.pf__portfolio_popup .pf__description p{
  font-size: 16px;
  color:var(--text-black-600);
  line-height: 26px;
  margin: 0;
}
.pf__portfolio_popup .pf__info{
  flex:0 0 35%;
  max-width: 35%;
  padding: 0 15px;
}
.pf__portfolio_popup .pf__info ul li{
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color:var(--text-black-600);
  font-size: 16px;
}

.pf__portfolio_popup .pf__info ul li span{
  font-weight: 400;
}
.pf__portfolio_popup .pf__info ul li a{
  color:var(--skin-color);
}
.pf__portfolio_popup .pf__info ul li:last-child{
  margin-bottom: 0;

}
.pf__portfolio_popup .pf__pp_main{
  min-height: 100vh;
  max-width: 1350px;
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pf__portfolio_popup .pf__pp_main_inner{
  padding: 70px 0 50px;
  position: relative;
}

.pf__portfolio_popup .pf__pp_img{
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}
.pf__portfolio_popup .pf__pp_project_details h3{
  font-size: 20px;
  font-weight: 600;
  color:var(--text-black-700);
  margin: 0 0 15px;
  text-transform: capitalize;
}

.pf__portfolio_popup .pf__pp_project_details_btn{
  position: absolute;
  left: 0;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color:var(--skin-color);
  cursor: pointer;
  padding: 0 15px;
  top:15px;
  height: 40px;
  line-height: 40px;
  display: flex !important;
  align-items: center;
  transition: all 0.3s ease;
}
.pf__portfolio_popup .pf__pp_project_details_btn svg{
  margin-left: 4px;
}
.pf__portfolio_popup .pf__pp_project_details_btn:after{
  border-radius: 30px;
}
.pf__portfolio_popup .pf__pp_close{
position: absolute;
right: 0;
border-radius: 50%;
height: 40px;
width: 40px;
top:15px;
text-align: center;
line-height: 35px;
font-size: 35px;
color:var(--text-black-600);
cursor: pointer;
transition: all 0.3s ease;

}

.pf__portfolio_popup .pf__pp_close:after{
  border-radius: 50%;
}

.pf__portfolio_popup .pf__pp_counter{
  position: absolute;
  right: 0;
  height: 40px;
  line-height: 40px;
  bottom: 5px;
  font-size: 16px;
  color: var(--text-black-600);
}
.pf__portfolio_popup .pf__pp_next,
.pf__portfolio_popup .pf__pp_prev{
  position: fixed;
  top:50%;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 1010;
  color:var(--skin-color);
  transition: all 0.3s ease;
  opacity: 0.5;
}

.pf__portfolio_popup .pf__pp_next:hover,
.pf__portfolio_popup .pf__pp_prev:hover{
  opacity: 1;
}

.pf__portfolio_popup .pf__pp_next svg,
.pf__portfolio_popup .pf__pp_prev svg{
  margin-top:7px;
  line-height: 40px !important;
  color:var(--skin-color);
  font-size: 7rem;
}

.pf__portfolio_popup .pf__pp_prev svg{
  transform: rotate(180deg);

}
.pf__portfolio_popup .pf__pp_prev{
   left: 15px;
}

.pf__portfolio_popup .pf__pp_next{
   right: 94px;
}

/*------------------------------------------------------------------
resposiveness
 -------------------------------------------------------------------- */
@media(max-width: 991px){


}
@media(max-width:767px){
  .pf__portfolio_popup .info,
  .pf__portfolio_popup .pf__description {
    flex:0 0 100%;
    max-width: 100%;
  }
}
